head {
    background-color: #ffffff;
    color: #2b5e21;
    font-size: 40px;
}

body {
    background-color: #9ef174;
    color: #2b5e21;
    font-size: 25px;
}

footer{
    background-color: #ffffff;
    color:#2b5e21;
    font-size: 30px;
}